@import '@/public/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #065F46; /* Deep Emerald - represents trust, stability, growth */
  --color-accent: #A99271;  /* Burnt Orange - adds warmth and innovation */
  --color-neutral: #FDFDFD; /* Clean off-white for contrast */
}