@import '@/public/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #2ECC71; /* Example: Emerald Green */
  --color-accent: #E67E22;  /* Example: Orange */
  --color-neutral: #FDFDFD; /* Example: Soft Off-White */
}